# Node.js
node_modules/
npm-debug.log

# Local environment variables
.env

# Mac OS
.DS_Store

# Log files
logs
*.log

# Editor specific files
.vscode/

#Whatsapp web 
.wwebjs_auth
.wwebjs_cache
invoice.pdf